/* Nav Styles */

.ct-nav{
    display: flex;
    justify-content: space-between;
}

/* Target the main logo image */

.ct-nav img{
    width: 25%;
    max-width: 100%;
    margin-left: 2vw;
}

ul#horizontal-list{
    min-width: 696px;
    list-style: none;
    padding-top: 20px;
}

ul#horizontal-list li, ul#horizontal-list a{
    display: inline;
    text-decoration: none;
    padding: 0.5vw;
    color: black;
}

ul#horizontal-list a:nth-last-child(1){
    border: 2px solid blue;
    border-radius: 11px;
    margin-right: 0.2vw;
}
/* End of Nav styles */

/* Start of Header Section */
#header-text{
    padding: 2vw;
}

.header-image{
    width: 82%;
    max-width: 100%;
}
/* End of Header/Hero Section */

/* Start of Middle Section */
#middle-text{
    text-align: center;
    padding: 13vh;
}
#middle-text h2{
    padding: 1.5vw;
}

/* End of Middle */

/* Start of Features Section */
#api-image,#graphql-image,#database-image{
    margin-bottom: 10vh;
}

#features-section{
    margin: 8vw;
}

/* End of Features Section */

/* Start Community Section */
#Drone-image{
    width: 50%;
    max-width: 75%;
    margin-left: 3vh;
}

/* End Community */

/* Footer Section Styles Below */
.footer-text-flex{
    display: flex;
    flex-direction: column;
    margin-top: 3vw;
}

#footer-logo{
    width: 100%;
    max-width: 100%;
}

#footer{
    border-top: 3px solid black;
    margin-top: 20vh;
}
